#wb_header { background: transparent none repeat scroll left top; height: 451px; }
#wb_header { height: 451px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 600px; padding: 0 0 70px 0; }
#wb_main { height: 670px; }
#wb_footer { background: #000000 url("gallery/vintage_footer.jpg") repeat scroll left top; height: 100px; }
#wb_footer { height: 100px; }
body { background: transparent none repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 1321px; }
.root { width: 992px; height: 1321px; overflow: visible; }
#wb_element_instance48 { left: 410px; top: 50px; min-width: 430px; width: 430px; min-height: 30px; height: 30px; display: block; z-index: 186; }
#wb_element_instance48 ul { background: transparent none repeat-x scroll left top; border: 1px none #000000; }
#wb_element_instance48, #wb_element_instance48 ul { text-align: center; }
#wb_element_instance48 ul ul { background: transparent none repeat-x scroll left top; }
#wb_element_instance48 li { margin: 0px 0px 0px 0px; }
#wb_element_instance48 li a { text-transform: uppercase; border: 0px none #000000; padding: 6px 40px 16px 20px; font: normal bold 18px 'Roboto',sans-serif; text-decoration: none; color: #000000; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance48 li:hover > a, #wb_element_instance48 li:focus > a { border: 0px none #000000; font: normal bold 18px 'Roboto',sans-serif; text-decoration: none; color: #fa974b; line-height: 20px; background: transparent none no-repeat scroll center center; }
#wb_element_instance48 li.active > a { border: 0px none #000000; font: normal bold 18px 'Roboto',sans-serif; text-decoration: none; color: #ff6940; line-height: 20px; background: transparent none no-repeat scroll center center; }
#wb_element_instance49 { left: 14px; top: 26px; min-width: 200px; width: 200px; min-height: 77px; height: 77px; display: block; z-index: 181; }
#wb_element_instance50 { left: 0px; top: 0px; min-width: 230px; width: 230px; min-height: 130px; height: 130px; display: block; z-index: 160; }
#wb_element_instance50 > div { width: 230px; height: 130px; background: #1dd1de; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance51 { left: 940px; top: 40px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; z-index: 184; }
#wb_element_instance51 img { width: 48px; height: 48px; position: static; left: 0px; top: 0px; }
#wb_element_instance52 { left: 870px; top: 40px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; z-index: 185; }
#wb_element_instance52 img { width: 48px; height: 48px; position: static; left: 0px; top: 0px; }
#wb_element_instance53 { left: 30px; top: 40px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; z-index: 103; }
#wb_element_instance54 { left: 810px; top: 40px; min-width: 100px; width: 100px; min-height: 26px; height: 26px; display: block; z-index: 104; }
#wb_element_instance55 { left: 0px; top: 330px; min-width: 295px; width: 295px; min-height: 150px; height: 150px; display: none; z-index: 86; }
#wb_element_instance55 img { width: 295px; height: 150px; position: static; left: 0px; top: 0px; }
#wb_element_instance56 { left: 0px; top: 40px; min-width: 295px; width: 295px; min-height: 150px; height: 150px; display: none; z-index: 89; }
#wb_element_instance56 img { width: 295px; height: 150px; position: static; left: 0px; top: 0px; }
#wb_element_instance57 { left: 0px; top: 150px; min-width: 510px; width: 510px; min-height: 230px; height: 230px; display: none; z-index: 176; }
#wb_element_instance57 img { width: 510px; height: 230px; position: static; left: 0px; top: 0px; }
#wb_element_instance58 { left: 521px; top: 150px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: block; z-index: 177; }
#wb_element_instance58 img { width: 230px; height: 230px; position: static; left: 0px; top: 0px; }
#wb_element_instance59 { left: 760px; top: 150px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: none; z-index: 151; }
#wb_element_instance59 > div { width: 230px; height: 230px; background: #8fca51; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance60 { left: 339px; top: 24px; min-width: 641px; width: 641px; min-height: 352px; height: 352px; display: block; z-index: 77; }
#wb_element_instance61 { left: 340px; top: 400px; min-width: 630px; width: 630px; min-height: 200px; height: 200px; display: block; z-index: 83; }
#wb_element_instance61 form .form-field { width: 441px; }
#wb_element_instance61 form .form-area-field { height: 70px; }
#wb_element_instance61 form td { text-align: right; }
#wb_element_instance61 form tr.area-row > th { height: 1%; }
#wb_element_instance61 form tr.area-row > td { height: 1%; }
#wb_element_instance61 form tr.form-footer > td { height: 20px; }
#wb_element_instance62 { left: 0px; top: 620px; display: block; z-index: 9000; }
#wb_element_instance63 { left: 0px; top: 86px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 451px; }
	#wb_main { height: 670px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 992px; min-height: 1221px; }
	.root { width: 992px; height: 1221px; overflow: visible; }
	#wb_element_instance48 { left: 410px; top: 50px; min-width: 430px; width: 430px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance49 { left: 14px; top: 26px; min-width: 200px; width: 200px; min-height: 77px; height: 77px; display: block; }
	#wb_element_instance50 { left: 0px; top: 0px; min-width: 230px; width: 230px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance50 > div { width: 230px; height: 130px; }
	#wb_element_instance51 { left: 940px; top: 40px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance51 img { width: 48px; height: 48px; position: static; left: 0px; top: 0px; }
	#wb_element_instance52 { left: 870px; top: 40px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance52 img { width: 48px; height: 48px; position: static; left: 0px; top: 0px; }
	#wb_element_instance53 { left: 30px; top: 40px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance54 { left: 810px; top: 40px; min-width: 100px; width: 100px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance55 { left: 0px; top: 330px; min-width: 295px; width: 295px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance55 img { width: 295px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance56 { left: 0px; top: 40px; min-width: 295px; width: 295px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance56 img { width: 295px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance57 { left: 0px; top: 150px; min-width: 510px; width: 510px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance57 img { width: 510px; height: 230px; position: static; left: 0px; top: 0px; }
	#wb_element_instance58 { left: 521px; top: 150px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance58 img { width: 230px; height: 230px; position: static; left: 0px; top: 0px; }
	#wb_element_instance59 { left: 760px; top: 150px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance59 > div { width: 230px; height: 230px; }
	#wb_element_instance60 { left: 339px; top: 24px; min-width: 641px; width: 641px; min-height: 352px; height: 352px; display: block; }
	#wb_element_instance61 { left: 340px; top: 400px; min-width: 630px; width: 630px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance61 form .form-field { width: 441px; }
	#wb_element_instance61 form .form-area-field { height: 70px; }
}

@media (min-width: 992px) {
	#wb_header { height: 451px; }
	#wb_main { height: 670px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 992px; min-height: 1221px; }
	.root { width: 992px; height: 1221px; overflow: visible; }
	#wb_element_instance48 { left: 410px; top: 50px; min-width: 430px; width: 430px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance49 { left: 14px; top: 26px; min-width: 200px; width: 200px; min-height: 77px; height: 77px; display: block; }
	#wb_element_instance50 { left: 0px; top: 0px; min-width: 230px; width: 230px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance50 > div { width: 230px; height: 130px; }
	#wb_element_instance51 { left: 940px; top: 40px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance51 img { width: 48px; height: 48px; position: static; left: 0px; top: 0px; }
	#wb_element_instance52 { left: 870px; top: 40px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance52 img { width: 48px; height: 48px; position: static; left: 0px; top: 0px; }
	#wb_element_instance53 { left: 30px; top: 40px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance54 { left: 810px; top: 40px; min-width: 100px; width: 100px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance55 { left: 0px; top: 330px; min-width: 295px; width: 295px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance55 img { width: 295px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance56 { left: 0px; top: 40px; min-width: 295px; width: 295px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance56 img { width: 295px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance57 { left: 0px; top: 150px; min-width: 510px; width: 510px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance57 img { width: 510px; height: 230px; position: static; left: 0px; top: 0px; }
	#wb_element_instance58 { left: 521px; top: 150px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance58 img { width: 230px; height: 230px; position: static; left: 0px; top: 0px; }
	#wb_element_instance59 { left: 760px; top: 150px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance59 > div { width: 230px; height: 230px; }
	#wb_element_instance60 { left: 339px; top: 24px; min-width: 641px; width: 641px; min-height: 352px; height: 352px; display: block; }
	#wb_element_instance61 { left: 340px; top: 400px; min-width: 630px; width: 630px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance61 form .form-field { width: 441px; }
	#wb_element_instance61 form .form-area-field { height: 70px; }
}

@media (min-width: 1200px) {
	#wb_header { height: 451px; }
	#wb_main { height: 670px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 992px; min-height: 1221px; }
	.root { width: 992px; height: 1221px; overflow: visible; }
	#wb_element_instance48 { left: 410px; top: 50px; min-width: 430px; width: 430px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance49 { left: 14px; top: 26px; min-width: 200px; width: 200px; min-height: 77px; height: 77px; display: block; }
	#wb_element_instance50 { left: 0px; top: 0px; min-width: 230px; width: 230px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance50 > div { width: 230px; height: 130px; }
	#wb_element_instance51 { left: 940px; top: 40px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance51 img { width: 48px; height: 48px; position: static; left: 0px; top: 0px; }
	#wb_element_instance52 { left: 870px; top: 40px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance52 img { width: 48px; height: 48px; position: static; left: 0px; top: 0px; }
	#wb_element_instance53 { left: 30px; top: 40px; min-width: 234px; width: 234px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance54 { left: 810px; top: 40px; min-width: 100px; width: 100px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance55 { left: 0px; top: 330px; min-width: 295px; width: 295px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance55 img { width: 295px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance56 { left: 0px; top: 40px; min-width: 295px; width: 295px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance56 img { width: 295px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance57 { left: 0px; top: 150px; min-width: 510px; width: 510px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance57 img { width: 510px; height: 230px; position: static; left: 0px; top: 0px; }
	#wb_element_instance58 { left: 521px; top: 150px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance58 img { width: 230px; height: 230px; position: static; left: 0px; top: 0px; }
	#wb_element_instance59 { left: 760px; top: 150px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance59 > div { width: 230px; height: 230px; }
	#wb_element_instance60 { left: 339px; top: 24px; min-width: 641px; width: 641px; min-height: 352px; height: 352px; display: block; }
	#wb_element_instance61 { left: 340px; top: 400px; min-width: 630px; width: 630px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance61 form .form-field { width: 441px; }
	#wb_element_instance61 form .form-area-field { height: 70px; }
}
